<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta charset="utf-8" />
	<title>修改密码</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<link rel="stylesheet"  href="../static/css/me.css" />
</head>
<body>
<!--导航-->
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
		<div class="ui container">
			<div class="ui middle aligned center aligned grid">
				<br>
				<form id="blog-form" action="#" method="post"  class="ui  form" th:action="@{/edit/password}" style="max-width: 30em !important;">
					<div class="field">
						<h3 class="ui teal aligned center header item">修改密码</h3>
					</div>
					<div class="field">
						<div class="ui left labeled input">
							<label class="ui teal basic label">&nbsp;用户名&nbsp;&nbsp;&nbsp;</label>
							<input type="text" name="username" placeholder="用户名" th:value="${session.user.username}" th:readonly="true"/>
						</div>
					</div>
					<div class="required field">
						<div class="ui left labeled input">
							<label class="ui teal basic label">&nbsp;旧密码&nbsp;&nbsp;&nbsp;</label>
							<input type="password" name="oldPassword" placeholder="请输入旧密码" />
						</div>
					</div>
					<div class="required field">
						<div class="ui left labeled input">
							<label class="ui teal basic label">&nbsp;新密码&nbsp;&nbsp;&nbsp;</label>
							<input type="password" name="password" placeholder="请输入新密码" />
						</div>
					</div>
					<div class="required field">
						<div class="ui left labeled input">
							<label class="ui teal basic label">确认密码</label>
							<input type="password" name="checkPassword" placeholder="确认密码" />
						</div>
					</div>
					<div class="ui error message"></div>
					<div class="ui right aligned container">
						<button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
						<button type="button" class="ui teal submit button">修改</button>
					</div>
					<div class="ui mini negative message"
						 th:text="${error}"
						 th:if="${error != null}">
						用户名和密码错误
					</div>
				</form>
			</div>
		</div>
</div>
<br/>
<br/>




<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    //初始化MarkDown编译器
    var contentEditor;

    $(function() {
        contentEditor = editormd("md-content", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            path    : "/lib/editormd/lib/"
        });
    });
    $('.menu.toggle').click(function(){
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown')
        .dropdown({
            on : 'hover'
        });
    $('#save-btn').click(function () {
        $('[name="publish"]').val(false);
        $('#blog-form').submit();
    });
    $('#publish-btn').click(function () {
        $('[name="publish"]').val(true);
        $('#blog-form').submit();
    });
    $('.ui.form').form({
        fields:{
            oldPassword:{
                identifier:'oldPassword',
                rules:[{
                    type:'empty',
                    prompt:'标题:请输入新密码'
                }]
            },
            password:{
                identifier:'password',
                rules:[{
                    type:'empty',
                    prompt:'标题:请输入新密码'
                }]
            },
            checkPassword:{
                identifier:'checkPassword',
                rules:[{
                    type:'match[password]',
                    prompt:'标题:两次密码要一致'
                }]
            },
        }
    });
</script>
</body>
</html>
