<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="utf-8"/>
    <title>我的评论</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css"/>
</head>

<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="_fragments :: menu(8)">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="m-item item  m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item  m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="active m-item item  m-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="点此搜索"/>
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
            <div class="ui container">
                <div class="ui menu">
                    <a href="#" class="m-item item m-mobile-hide" th:href="@{/user/profile}"><i
                            class="thumbs up outline icon"></i>我的点赞</a>
                    <a href="#" class="m-item item  m-mobile-hide" th:href="@{/user/mysave}"><i
                            class="plus square outline icon"></i>我的收藏</a>
                    <a href="#" class=" m-item item  m-mobile-hide" th:href="@{/user/dislike}"><i
                            class="thumbs down outline icon"></i>不喜欢</a>
                    <a href="#" class="active m-item item  m-mobile-hide" th:href="@{/user/comment}"><i
                            class="keyboard icon"></i>我的评论</a>
                    <!-- <a href="#" class="m-item item  m-mobile-hide" th:href="@{/user/profile}"><i class="comment outline icon"></i>我的评论</a>-->
                </div>
            </div>
            <div class="ui container">
                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="header">提示:</div>
                    <p th:text="${message}">恭喜，操作成功</p>
                </div>
            </div>
            <div class="ui attached segment">
                <div class="ui padded vertical segment m-padded-tb-large" th:each="comment,iterStat : ${page.list}">
                    <div class="ui middle aligned mobile reversed stackable grid">
                        <span>评论</span>
                        <span th:text="${comment.content}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span th:text="${#dates.format(comment.createTime,'yyyy-MM-dd')}">新的留言</span>
                        <div th:text="${comment.state == 0} ? '未审核':(${comment.state}=='1'?'已展示':'审核未通过')"></div>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a th:href="@{/user/comment(page=${page.prePage})}" class="item">上一页</a> &nbsp;&nbsp;
                    </div>
                    <div class="right aligned column">
                        <a th:href="@{/user/comment(page=${page.nextPage})}" class="item">下一页</a>&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">基本资料</div>
                </div>
                <div class="ui attached segment">
                    <img src="https://picsum.photos/id/1/100/100?image=129" th:src="@{${session.user.avatar}}" alt=""
                         class="ui rounded image"/>
                </div>
                <div class="ui attached segment">
                    <span class="m-margin-bottom m-padded-tb-large m-red">昵称:&nbsp;</span>
                    <span class="m-margin-top" th:text="${session.user.nickname}"></span>
                </div>
                <div class="ui attached segment">
                    <span class="m-margin-bottom m-padded-tb-large m-red">邮箱:&nbsp;</span>
                    <span class="m-margin-top" th:text="${session.user.email}"></span>
                </div>
            </div>
    </div>
</div>
</div>

<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <img src="" th:src="@{/img/wechat.png}" class="ui rounded image" alt="" style="width:110px"/>
                    <img src="" th:src="@{/img/wechat.png}" class="ui rounded image" alt="" style="width:110px"/>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:1027716017@QQ.com</a>
                    <a href="#" class="item">QQ:1027716017</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，会分享关于编程、写作、思考相关的任何内容，希望可以给来这的人有所帮助</p>
            </div>
        </div>
        <div class="ui inverted section divider"><br/><br/>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 Blog Designed by LQ</p>
        </div>
    </div>

</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="../static/lib/prism/prism.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script src="../static/lib/tocbot/tocbot.min.js"></script>
<script src="../static/lib/qrcode/qrcode.min.js"></script>
<script src="../static/lib/waypoint/jquery.waypoints.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    function deleteUser(id) {
        if (confirm("确认取消收藏吗？")) {
            var url = "/cancel/save/" + id;
            top.location.href = url;
        } else {
            location.reload();
        }
    }

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
    $('.qq').popup();
</script>
</body>
</html>
