<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lq.blog.mapper.UserExtMapper">
  <resultMap id="BaseResultMap" type="com.lq.blog.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="type" jdbcType="BIGINT" property="type" />
    <result column="createtime" jdbcType="DATE" property="createtime" />
    <result column="updatetime" jdbcType="DATE" property="updatetime" />
  </resultMap>
  <select id="selectUser"  resultType="com.lq.blog.model.User">
    select
    *
    from user
    where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>
</mapper>